
h1 {
   font-size: xx-large;

}
h2 {
    font-size: larger;
}
p {
    font-weight: bold;
}
.container {
    width: auto;

}

#header {
    text-align: center;
    color: #daa520;
}    

#taget-number {
    font-variant-caps: titling-caps;
}
.column {
    float: left;
    width: 66.6%;
    padding: 5px;
}
.crystal-image {
    float: left;
    border: none;
    height: 120px;
    width: 120px;
    padding-top: 0px;
    margin-top: 0px;
    flex-direction: row;
}
.card-body {
    background-color: palegreen;
}
.message {
        display: inline-block;
        width: 5em;
}

#crystals {
    float: left; 
    border:none;
    height: 120px;
    width: 100%;
    padding-top: 0px;
    margin-top: 0px;
    flex-direction: row;
}

.score-data {
    /* float: right; */
    text-align: right;
    color: #080108;
}

#amethyst {
    vertical-align: top;
}
#quartz {
    vertical-align: top;
}
#onyx {
    vertical-align: top;
}
#verdite {
    vertical-align: top;
}
@media screen and (max-width:790px) {
    .crystal-image {
        flex-direction: column;
        width: 100px;
        height: 100px;
    }
    .h1 {
        font-size: small;
    }
}
@media screen and (max-width:414px) {
    .crystal-image {
        flex-direction: column;
        width: 100px;
        height: 100px;
    }
}