
h1 {
   font-size: xx-large;
}
h2 {
    font-size: larger;
}
p {
    font-weight: bold;
}
.container {
    width: auto;
    background-color: tan;
    
}
/* animated header with color change */
#myHeader {
    background-color: #e4eee4;
    text-align: center;
    color: #704646;
    -webkit-animation: mymove 10s infinite; /*Chrome, Safari, Opera */
    animation: mymove 5s infinite;
}
@-webkit-keyframes mymove {
    75% {color: #0ead00;}
}

@keyframes mymove {
    50%{color: #790404;}
} 

#taget-number {
    font-variant-caps: titling-caps;
}

.jumbotron {
    background-color: #080108;
}
.column {
    float: left;
    width: 66.6%;
    padding: 5px;
}
.crystal-image {
    float: left;
    border: none;
    height: 120px;
    width: 120px;
    padding-top: 0px;
    margin-top: 0px;
    flex-direction: row;
}
#popover-data {
    justify-content: center;
    align-content: center;
}

.card-body {
    background-color: #e3e4e3;
    color:#022b02;
}
.message {
    border-width: medium;
    display: inline-block;
        width: 300px;
}

#crystals {
    float: left; 
    border:none;
    height: 120px;
    width: 100%;
    padding-top: 0px;
    margin-top: 0px;
    flex-direction: row;
}

.score-data {
    text-align: right;
    color: #080108;
}
#instructions {
    color:#03b939;
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    background-color: #000000;
    z-index: 2;
    cursor:pointer;
}
#target-number {
    background-color: #ffff00;
    font-size: 24pt;
    font-weight: bold;
    color: #03b939;
}
#losses {
    font-size: 18pt;
    font-weight: bold;
    background: #a9a9a9;
    color:#ff0000;
}
#total-score {
    font-size: 18pt;
    font-weight: bolder;
    background: #a9a9a9;
    color: #000000;
}
#wins {
    font-size: 18pt;
    font-weight:bold;
    background: #a9a9a9;
    color: #03b939;
}
#amethyst {
    vertical-align: top;
}
#quartz {
    vertical-align: top;
}
#onyx {
    vertical-align: top;
}
#verdite {
    vertical-align: top;
}

@media screen and (max-width:790px) {
    .crystal-image {
        flex-direction: column;
        width: 100px;
        height: 100px;
    }
    .h1 {
        font-size: small;
    }
}
@media screen and (max-width:414px) {
    .crystal-image {
        flex-direction: column;
        width: 100px;
        height: 100px;
    }
}
